In [1]:
import pandas as pd

base_url = '/lakehouse/default/Files/sa_economic_data'

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 3, Finished, Available, Finished)

## Median Price of Established House Transfers ($1000, by Quarter)

In [2]:
housing_price_df = pd.read_excel(
    io=f'{base_url}/643202.xlsx',
    sheet_name='Data1',
    header=0,
    skiprows=range(1, 10),
)

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 4, Finished, Available, Finished)

In [3]:
sa_housing_price_df = housing_price_df.iloc[:, [0, 7, 8]]
columns = sa_housing_price_df.columns
sa_housing_price_df = sa_housing_price_df.rename({columns[0]:'Date', columns[1]:'Adelaide', columns[2]:'Rest of SA'}, axis=1)

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 5, Finished, Available, Finished)

In [4]:
sa_housing_price_df['month_year'] = sa_housing_price_df['Date'].dt.to_period('M')
sa_housing_price_df = sa_housing_price_df.set_index('month_year')
sa_housing_price_df = sa_housing_price_df.iloc[:, 1:]
# sa_housing_price_df

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 6, Finished, Available, Finished)

            Adelaide  Rest of SA
month_year
2002-03        166.0         NaN
2002-06        175.0         NaN
2002-09        181.0         NaN
2002-12        195.0         NaN
2003-03        209.4         NaN
...              ...         ...
2024-03        769.0       455.0
2024-06        799.0       450.0
2024-09        820.0       465.0
2024-12        850.0       500.0
2025-03        842.5       490.0

[93 rows x 2 columns]

## Crash Rate Target (%, by month)

In [5]:
crt_df = pd.read_excel(
    io=f'{base_url}/a02hist.xlsx',
    sheet_name='Data',
    header=1,
    skiprows=range(2, 14),
)

crt_df = crt_df.rename({crt_df.columns[0]:'Date'}, axis=1)
crt_df['month_year'] = crt_df['Date'].dt.to_period('M')
crt_df = crt_df.iloc[:, 2:]
crt_df = crt_df.rename({crt_df.columns[0]:'CRT'}, axis=1)

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 7, Finished, Available, Finished)

In [6]:
# CRT reduced twice at March 2020, keep the last one
crt_df = crt_df.drop([72])

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 8, Finished, Available, Finished)

In [7]:
crt_df = crt_df.set_index('month_year')
crt_df = crt_df.sort_index()
crt_df = crt_df.reindex(pd.period_range(crt_df.index[0], crt_df.index[-1], freq='M'))

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 9, Finished, Available, Finished)

In [8]:
# fill na with last valid observation
crt_df = crt_df.ffill()
crt_df['Change'] = crt_df['CRT'].diff()
crt_df = crt_df.fillna(0.0)
# crt_df

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 10, Finished, Available, Finished)

           CRT  Change
1990-08  14.00    0.00
1990-09  14.00    0.00
1990-10  13.00   -1.00
1990-11  13.00    0.00
1990-12  12.00   -1.00
...        ...     ...
2025-01   4.35    0.00
2025-02   4.10   -0.25
2025-03   4.10    0.00
2025-04   4.10    0.00
2025-05   3.85   -0.25

[418 rows x 2 columns]

## Consumer Price Index (CPI, by Quarter)

In [9]:
cpi_df = pd.read_csv(f'{base_url}/consumer-price-index-cpi.csv')
cpi_df['Year'] = pd.to_datetime(cpi_df['Year'], format='%Y-%m-%d %H:%M:%S')
cpi_df['month_year'] = cpi_df['Year'].dt.to_period('M')
cpi_df = cpi_df.set_index('month_year')
cpi_df = cpi_df.iloc[:, 1:]
# cpi_df

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 11, Finished, Available, Finished)

            Adelaide  Australia
month_year
2001-04          5.6        6.0
2001-07          5.9        6.1
2001-10          2.2        2.5
2002-01          3.0        3.1
2002-04          2.7        3.0
...              ...        ...
2024-04          4.3        3.6
2024-07          4.5        3.8
2024-10          3.2        2.8
2025-01          2.5        2.4
2025-04          2.2        2.4

[97 rows x 2 columns]

## Unemployment Rate (%, by Quarter)

In [10]:
unemploy_df = pd.read_csv(f'{base_url}/quarterly-unemployment-r.csv')
unemploy_df['Year'] = pd.to_datetime(unemploy_df['Year'], format='%Y-%m-%d %H:%M:%S')
unemploy_df['month_year'] = unemploy_df['Year'].dt.to_period('M')
unemploy_df = unemploy_df.set_index('month_year')
unemploy_df = unemploy_df.iloc[:, 1:]
# unemploy_df

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 12, Finished, Available, Finished)

            City of Adelaide  Greater Adelaide  South Australia  Australia
month_year
2010-12               6.4382            5.3671              5.3        5.2
2011-03               6.8855            5.5132              5.5        5.1
2011-06               6.9049            5.5054              5.4        5.0
2011-09               7.0737            5.5300              5.4        5.1
2011-12               7.3286            5.4746              5.4        5.1
2012-03               7.2292            5.4073              5.3        5.1
2012-06               7.3689            5.4448              5.3        5.2
2012-09               6.9031            5.4910              5.4        5.2
2012-12               6.5898            5.5380              5.5        5.2
2013-03               6.6978            5.6900              5.7        5.3
2013-06               7.1399            5.7928              5.8        5.4
2013-09               7.4617            5.9941              6.0        5.6
2013-12               7.4949            6.3431              6.3        5.7
2014-03               7.3851            6.5312              6.5        5.8
2014-06               6.5346            6.6707              6.7        5.9
2014-09               6.1760            6.7425              6.7        6.0
2014-12               6.6237            6.6742              6.7        6.1
2015-03               6.8262            6.6697              6.7        6.1
2015-06               7.9450            6.9355              6.9        6.1
2015-09               8.9839            7.2667              7.3        6.2
2015-12               9.3582            7.4210              7.4        6.1
2016-03               9.9553            7.5590              7.4        5.9
2016-06              10.0360            7.4215              7.3        5.9
2016-09               9.7745            7.2063              7.0        5.7
2016-12               9.7612            7.1243              6.8        5.7
2017-03               9.2292            7.0368              6.7        5.7
2017-06               8.3896            7.0371              6.7        5.7
2017-09               7.9664            6.7907              6.5        5.7
2017-12               7.4030            6.5509              6.3        5.6
2018-03               6.8015            6.3373              6.2        5.5
2018-06               6.5130            6.0907              5.9        5.5
2018-09               6.5616            6.0370              5.8        5.4
2018-12               6.5096            5.9520              5.7        5.3
2019-03               6.7599            5.8813              5.7        5.2
2019-06               7.1547            5.8401              5.8        5.1
2019-09               7.7290            6.0848              6.1        5.1
2019-12               7.8445            6.2403              6.2        5.2
2020-03               7.7323            6.1978              6.2        5.2
2020-06               7.9702            6.7106              6.7        5.6
2020-09               8.0286            6.9565              6.8        6.1
2020-12               8.4612            7.0134              6.9        6.4
2021-03               9.3025            7.2969              7.1        6.6
2021-06               8.9697            6.7103              6.6        6.2
2021-09               8.1810            5.9880              5.9        5.6
2021-12               7.7263            5.5833              5.5        5.1
2022-03               7.3062            5.0769              5.0        4.6
2022-06               7.1580            4.7702              4.7        4.3
2022-09               6.8870            4.5868              4.6        4.0
2022-12               6.4405            4.3154              4.4        3.7
2023-03               6.0865            4.0406              4.2        3.6
2023-06               6.3237            3.9976              4.1        3.6
2023-09               6.8711            3.9686              4.0        3.6
2023-12               7.2256            3.9571              3.9        3.7
2024-03               7.2946            3.9931              3.9        3.8
2024-06               7.3592            3.9862              3.8        3.9
2024-09               7.0931            4.0757              3.9        4.0
2024-12               7.0211            4.1393              4.0        4.0

## SA Gross Regional Product (GRP, $million, by year)

In [11]:
grp_df = pd.read_excel(
    io=f'{base_url}/GRP.xlsx',
    usecols=[0, 4, 5, 6],
    header=2,
)
grp_df = grp_df.drop([24]).iloc[::-1]

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 13, Finished, Available, Finished)

In [12]:
grp_columns = {
    grp_df.columns[0]: 'Year',
    grp_df.columns[1]: 'GRP',
    grp_df.columns[2]: 'Change',
    grp_df.columns[3]: 'Cumulative change'
}
grp_df = grp_df.rename(grp_columns, axis=1)
grp_df.at[23, 'Change'] = 0.0
grp_df = grp_df.astype({'Change': 'float'})
grp_df = grp_df.set_index('Year')
# grp_df

StatementMeta(, b9f2858a-c6b5-43a6-9960-12d35fa75368, 14, Finished, Available, Finished)

            GRP  Change  Cumulative change
Year
2001   86620.90    0.00             100.00
2002   90793.61    4.82             104.82
2003   93114.28    2.56             107.50
2004   96032.01    3.13             110.86
2005   98004.05    2.05             113.14
2006   99215.64    1.24             114.54
2007  100880.71    1.68             116.46
2008  105525.56    4.60             121.82
2009  108413.85    2.74             125.16
2010  110642.63    2.06             127.73
2011  113013.27    2.14             130.47
2012  114087.00    0.95             131.71
2013  114856.73    0.67             132.60
2014  115214.45    0.31             133.01
2015  116537.91    1.15             134.54
2016  117266.88    0.63             135.38
2017  118821.41    1.33             137.17
2018  122297.05    2.93             141.19
2019  123823.88    1.25             142.95
2020  122814.07   -0.82             141.78
2021  128652.67    4.75             148.52
2022  135607.02    5.41             156.55
2023  140499.10    3.61             162.20
2024  141521.20    0.73             163.38